# -----------------------------------------
# PLC Configuration
# -----------------------------------------

# The IP address of the target PLC (Programmable Logic Controller).
# Ensure this matches the network configuration of the PLC device.
# Example: 192.168.3.82
PLC_IP=192.168.3.82

# The communication port for the PLC.
# The default port for MC protocol is usually 5014, but confirm with your PLC settings.
PLC_PORT=5014

# -----------------------------------------
# Processing Configuration
# -----------------------------------------

# Determines which weight processing method to use.
# Options:
#   1 - Use 'RCPU04' with retries and validation.
#   2 - Use '' for simpler, faster processing.
# Default: 1
PLC_CPU_MODEL=

# Maximum number of retries for writing data to the PLC.
# This is useful for handling intermittent connection issues.
# Default: 3
MAX_WRITE_RETRIES=3

# Timeout in seconds before resetting the PLC data if no valid data is received.
# Default: 15 seconds.
PLC_RESET_TIMEOUT=15

# -----------------------------------------
# Logging Configuration
# -----------------------------------------

# Log level for the application.
# Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
